/* trade-winds-regular - latin */
@font-face {
  font-family: 'Trade Winds';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/trade-winds-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Trade Winds'), local('TradeWinds'),
       url('../fonts/trade-winds-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/trade-winds-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
}

:root {
  --gridSize: 16;
}

.gameContainer {
  border-width: 75px;
  border-color: rgb(216, 44, 44);
  border-radius: 20px;
  border-style: solid;
  width: 700px;
  height: 650px;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(var(--gridSize), 1fr);
  z-index: 1;
}

.grid {
  border: 1px solid black;
  box-sizing: border-box;
}

.paint {
  background-color: black;
}

h1 {
  text-align: center;
  font-family: 'Trade Winds', cursive;
}


.gameContainer {
  border-width: 75px;
  border-color: rgb(216, 44, 44);
  border-radius: 20px;
  border-style: solid;
  width: 700px;
  height: 650px;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(var(--gridSize), 1fr);
}

.gameTitle h1 {
  margin-bottom: 0px;
}

.reset {
  font-size: 30px;
  font-family: 'Trade Winds', cursive;
  color: rgba(4, 6, 94, 0.836);
  background-color:rgba(233, 236, 5, 0.966);
  width: 100px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  margin-right: 300px;
  padding-top: 5px;
  padding-left: 5px;
  z-index: 2;
}

.size {
  font-size: 30px;
  font-family: 'Trade Winds', cursive;
  color: rgba(4, 6, 94, 0.836);
  background-color:rgba(233, 236, 5, 0.966);
  width: 100px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  margin-right: 400px;
  padding-top: 5px;
  padding-left: 5px;
  z-index: 2;
}